.about{
    display: flex;
}

.aboutContainer{
    flex:9;
    padding-top: 100px;

    text-align: center;
    justify-content: center;
    font-family: 'Lora', serif;
}

.aboutTitle{
    font-size: 70px;
    margin-bottom: 20px;
}

.aboutText{
    font-family:'Varela Round', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    
}